- step = locals[:step]
div class='breadcrumb'
  div class=('breadcrumb-step' + (' breadcrumb-step-active' if step == 1).to_s) Step 1
  div class=('breadcrumb-step' + (' breadcrumb-step-active' if step == 2).to_s) Step 2
